.App{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
#h5{
  color: black;
}

#card{
  width: 35%;
  margin: auto;
  border-width: 1.2px;
  border-color: #b09f84;
  box-shadow: 5px 5px 3px #b09f84;
}
#input{
  margin-right: 2rem;
  width: 20rem;
  border-color: cornsilk;
}
#btn{
  width: 5rem;
  background-color: #e2d5c0;
  border-width: thin;
  border-color: black;
}
#btn-edit{
  width: 5rem;
  display: inline;
  background-color: #e2d5c0;
  border-width: thin;
  border-color: black;
  margin-bottom: 1rem;
}
#name {
  width: 75%;
  /* display: inline-block; */
  float: left;
}

#edit {
  text-align: right;
  margin-bottom: 1rem;
}