#formdiv {
  display: flex;
  margin-bottom: 1.5rem;
}
#input {
  border: solid;
  border-width: 1px;
  margin: auto;
  width: 100%;
}
#btn1 {
  margin-top: 2rem;
  width: 30%;
}
.card {
  width: 25%;
  text-align: center;
  margin: auto;
  margin-top: 3rem;
}
#label {
  width: 6rem;
  text-align: left;
}
.table1 {
  width: 80%;
  background-color: white;
  border-collapse: collapse;
  border: 1px solid black;
  margin: auto;
  margin-top: 2rem;
}
th, td{
  border: 1.2px solid black;
  border-collapse: collapse;
  border-color: black;
  border-style: none;
  border-width: 1px;
}
#edit-btn{
  margin-right: 3px;
}
.stats{
  padding: 1rem;
  width: 20%;
}
.form{
  width: 40%;
}
